* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  color: #1a0c0e;
  margin: 0;
  background: rgb(8, 51, 245);
  background-image: linear-gradient(
    45deg,
    rgb(8, 51, 245) 0%,
    rgb(150, 182, 251) 100%
  );
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}
